html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

.wrap {
    height: auto;
    margin: 0 auto -80px;
    min-height: 100%;
    padding: 0 0 80px;
    box-sizing: border-box;
    overflow: auto;
}

.navbar {
  overflow: hidden;
  top: 0;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.navbar a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding-top: 50px;
}

.content {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}


a.middle
{
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

h1 {
  text-align: center;
  font-family: "Sofia", sans-serif !important;
  font-size: 60px !important;
  text-shadow: 3px 3px 3px #ababab;
  color: #bc8635;
}

h2 {
  text-align: center;
  font-family: "Sofia", sans-serif !important;
  font-size: 40px !important;
}

p {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}
table {
  font-family: arial, sans-serif;
  width: 25%;
  margin: auto;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

td {
  text-align: right;
}

/* Contact form */
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  color: black;
}

.container {
  border-radius: 5px;
  width: 750px;
  float: right;
  padding-right: 250px;
  margin-bottom: 10px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.google-maps {
  margin-top: 10px;
  float: left;
  padding-left: 250px;
}

.slider-frame {
  overflow: hidden;
  height: 500px;
  width: 750px;
  margin-left: 500px;
}

/*--Slideshow animation--*/

@-webkit-keyframes slide_animation {
  0% {left:0px;}
  10% {left:0px;}
  20% {left:1200px;}
  30% {left:1200px;}
  40% {left:2400px;}
  50% {left:2400px;}
  60% {left:1200px;}
  70% {left:1200px;}
  80% {left:0px;}
  90% {left:0px;}
  100% {left:0px;}
}

.slide-images {
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 33s;
  -webkit-animation-itertion-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

.image-container {
  height: 800px;
  width: 1200px;
  position: relative;
  float: left;
}

/*--End of slideshow animation--*/

.section {
  margin-top: 25px;
  padding-bottom: 25px;
}
p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 500px;
  padding-right: 500px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
    border-top: 1px;
    height: 60px;
    padding-top: 20px;
    display: block;
    margin-top: 20px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.testimonials {
  margin: 50px auto;
}

.testimonials .row {
  margin-top: 30px;
}

.col-md-4 {
  margin: 40px auto;
}

.background {
  padding: 70px 10px 10px;
  background-color: #efefef;
}
