body {margin:0;}

.navbar {
  overflow: hidden;
  width: 100%;
  margin-top: -150px;
}

.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding-top: 50px;
  margin-right: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 150px;
}

.topnav-right {
  float: right;
}

a.middle
{
  position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

h1 {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  color: black;
}

h3 {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
  letter-spacing: 3px;
}

h6 {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  color: black;
  margin-left: 200px;
  font-size: 15px;
}

/* Contact form */
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: white;
  color: black;
}

.contact-form {
  border-radius: 5px;
  width: 750px;
  float: right;
  margin-right: 10px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}

#images{
    text-align:center;
}

.logo {
  float: center;
}

ul {
  margin-right: 45px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

i {
  margin-right: 10px;
}

p {
  text-align: center;
}



* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
  color: white;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
